@using EPiServer.Framework.Web.Mvc.Html

@model IPageViewModel<SitePageData>

<!DOCTYPE html>
<html lang="sv">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=10" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@Html.PropertyFor(x => x.CurrentPage.Title)</title>
    
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js" defer></script>

    </head>
    <body class="body">
    <h2>@Html.PropertyFor(x => x.CurrentPage.Title)</h2>
        
    <div class="page">
        <div class="title">
            <header>
                @if (Model.StartPage != null && Model.StartPage.Menu != null)
                {
                    <ul class="menu-container">
                        @foreach (var item in Model.StartPage.Menu)
                        {
                            <li>
                                <a class="menu" href="@item.GetMappedHref()">
                                    @item.Text&nbsp&nbsp&nbsp&nbsp;
                                </a>
                            </li>
                        }
                    </ul>
                }
            </header>
               
        </div>
        <video autoplay muted loop id="myVideo">
            <source src="/Images/bakground.mp4" type="video/mp4">
        </video>
        <div class="background">
            <div class="background-content">
                <div class="epiText">
                    @Html.PropertyFor(x => x.CurrentPage.MainBody)
                </div>
                <div class="subText">
                    @Html.PropertyFor(x => x.CurrentPage.SubBody)
                </div>
                @await Html.RenderEPiServerQuickNavigatorAsync()
                @RenderBody()

            </div>
        </div>
        <div class="container-related">
            <h2 class="related"> Related Content </h2>
            <div class="related-links">
                @Html.PropertyFor(m => m.CurrentPage.RelatedContentLinks)
            </div>
        </div>
    </div>
    </body>
</html>
